@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 100%;
    width: 100%;
  }
}

/* ============================== Global ============================ */
.navbar {
  background-color: transparent;
}

.header-container {
  position: relative;
  height: 100vh;
  /* Adjust the height as needed */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover\:contact-link:hover {
  color: blue;
  /* Adjust the color as needed */
}
