@tailwind base;
@tailwind components;
@tailwind utilities;


/* ============================== Global ============================ */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.navbar {
  background-color: transparent;
}

.header-container {
  position: relative;
  height: 100vh;
  /* Adjust the height as needed */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover\:contact-link:hover {
  color: blue;
  /* Adjust the color as needed */
}



/*  ============================== Menu ============================== */


/* Media break points */

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }
}


/* Hamburger for Menu */
.hamburger {
  cursor: pointer;
  display: block;
  position: absolute;
  /* Keep it absolute for positioning */
  right: 10%;
  /* Positioning it 70% from the right */
  top: 20%;
  /* Adjust the vertical position as needed */
  width: 60px;
  /* Increased width */
  height: 45px;
  /* Increased height */
  z-index: 200;
  /* Ensure it's above other elements */
}

.hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  /* Increased thickness */
  width: 100%;
  /* Full width of the parent */
  background: green;
  /* Changed to green */
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  z-index: 200;

}

.hamburger.open {
  right: 60%;
  transition: .25s ease-in-out;
  z-index: 200;

}

/* The rest of the hamburger spans transformations */
.hamburger span:nth-child(1) {
  top: 0px;
  z-index: 200;

}

.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 18px;
  z-index: 200;

}

.hamburger span:nth-child(4) {
  top: 36px;
  z-index: 200;

}

.hamburger.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
  z-index: 200;

}

.hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
  z-index: 200;

}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  z-index: 200;

}

.hamburger.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%;
  z-index: 200;

}


/* Style for menu-link-upper items */
.menu-link-upper {
  position: relative;
  font-size: 1.6vw;
  display: block;
  padding: .1vw;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  text-shadow: none;
}

/* Pseudo-element for the bar in menu-link-upper */
.menu-link-upper::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
  /* Thickness of the bar */
  background-color: green;
  /* Adjust color as needed */
  transition: left 0.3s ease, right 0.3s ease;
}

/* Hover effect for menu-link-upper */
.menu-link-upper:hover::before {
  left: 0;
  right: 0;
}

.menu-link-upper:hover {
  color: green;
  /* Adjust hover color as needed */
}


/*  */

/* Style for your list items */
.menu-link {
  position: relative;
  font-size: 1.6vw;
  display: block;
  padding: .5vw;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  text-shadow: none;
}

/* Pseudo-element for the bar */
.menu-link::before {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  width: 2px;
  /* Thickness of the bar */
  background-color: green;
  /* Adjust color as needed */
  transition: top 0.3s ease, bottom 0.3s ease;
}

/* Hover effect */
.menu-link:hover::before {
  top: 0;
  bottom: 0;
}

.menu-link:hover {
  color: green;
  /* Adjust hover color as needed */
}


.desktop-menu {
  display: flex;
  /* Or your preferred display style */
}

.mobile-menu-icon {
  display: none;
}

.menuItemStyle {
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-divider {
  height: 2px;
  background-color: #ccc;
  /* Adjust the color as needed */
  width: 80%;
  margin: 0 auto;
  /* Center the divider */
}


.contact-social-container {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  font-size: 1.5vw;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  z-index: 155;
}

.contact-info {
  display: flex;
  padding-right: 6vw;
  padding-top: 1vw;
  justify-content: left;
  align-items: left;
  z-index: 155;
}

.contact-info span,
.social-icons a {
  padding-right: 2vw;
  margin-left: 10px;
  z-index: 155;
}

.social-icons {
  display: flex;
  align-items: center;
  z-index: 155;
}

.icon-hover:hover {
  color: #009688;
  /* Or any other color you prefer */
  cursor: pointer;
  z-index: 155;
}

.email-phone-hover {
  display: flex;
  flex-direction: row;
}

.email-phone-hover:hover {
  color: #009688;
  /* Or any other color you prefer */
  cursor: pointer;
  z-index: 155;
}





/* ========================= Info Section ================================ */

/* styles/InfoSection.module.css */
.info-section {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.info-section-container {
  display: flex;
  flex-wrap: wrap;
  color: black;
  width: 45%;
  font-size: 1.2rem;
  margin-top: 15%;
  padding-top: 3%;
  padding-left: 3%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;

}

.info-section-collage {
  position: relative;
  height: 300px;
  width: 450px;
}

.container {
  color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.fencing-options {
  color: black;
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin: 5% 10%;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  width: 48%;
  border: 1px solid green;
  padding: 10px 10px;
  border-radius: 5%;
  margin-left: 4%;
  font-size: 20px;
  font-weight: 900;
  /* Assuming there are two options, they each take up roughly half the container width */
}


.option span {
  font-size: 1.2rem;
}

.button-class {
  background-color: #134e2e;
  /* blue-600 */
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.button-class:hover {
  background-color: #38d87d;
  /* blue-700 */
}

.info-p-section {
  font-family: 'Courier New', Courier, monospace;
  width: 75%;
}

.fencing-options {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  flex-direction: row;
}

.section-title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: 500;
}

.section-subtitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 200;
  font-stretch: expanded;
}


/* ============================ Fence Cards ========================= */
.fenceCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* create three columns */
  gap: 20px;
  /* space between the cards */
  padding: 20px;
  /* padding around the grid */
}

.card {
  border: 1px solid #ddd;
  /* border around the card */
  border-radius: 10px;
  /* rounded corners */
  overflow: hidden;
  /* ensures nothing spills outside the border-radius */
  text-decoration: none;
  /* removes underline from links */
  color: black;
  /* text color */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* smooth transition for hover effect */
  display: flex;
  /* to align image and text nicely */
  flex-direction: column;
  /* stack image and text vertically */
}

.card:hover {
  transform: translateY(-5px);
  /* slight raise effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* shadow effect on hover */
}

.card h3 {
  text-align: center;
  /* center the title text */
  padding: 10px;
  /* padding inside the title area */
  background-color: #f7f7f7;
  /* background color for the title area */
  margin: 0;
  /* remove default margin */
}

.card p {
  padding: 10px;
  /* padding inside the description area */
  margin: 0;
  /* remove default margin */
  text-align: center;
  /* center the description text */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fenceCardsContainer {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on smaller screens */
  }

  .info-section-container {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    text-align: center;
    margin-top: 15%;
  }

  .info-section-container h2{
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    margin-top: 15%;
    font-size: 2.3rem;
    text-align: center;

  }

  .info-section-container p {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 1.2rem;
    text-align: center;

  }
  .info-section-container p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 1.2rem;
    text-align: center;

  }
}

@media (max-width: 480px) {
  .fenceCardsContainer {
    grid-template-columns: 1fr;
    /* 1 column on very small screens */
  }
}




/*  */


.portfolioTitle h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  margin-top: 15px;
}

.portfolioBlock {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  justify-content: space-between;

}

.portfolioImage {
  width: 25em; /* make image fill the entire width of the .portfolioProjects div */
  height: 25em;
  border: solid black 2px;
  border-radius: 20px;
}

.portfolioBody {
  height: 8vw;
  width: 18vw;
  display: none;

}

.portfolioBody {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8vw;
  width: 18vw;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  margin: 10px 10px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 9px;
  display: none;
}

.portfolioBody:hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  height: 8vw;
  width: 70%;
  margin: 10px 10px;
  padding: 8px 10px;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  text-shadow: black 2px 2px 8px;
  border-radius: 9px;
}

.portfolioImage:hover + .portfolioBody {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  height: 8vw;
  width: 70%;;
  margin: 10px 10px;
  padding: 8px 10px;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  text-shadow: black 2px 2px 8px;
  border-radius: 9px;

}

.btn2 {		
position: absolute;	
padding: 15px 8px;
padding-right: 0px;
font-size: 1.4rem;
border-radius: 18px;
color: white;
letter-spacing: .5rem;
text-transform: uppercase;
transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
cursor: pointer;
user-select: none;
  width: 90%;
  border: 1px solid white;
  border-right: 0px;
  margin: 12px 2px;
  z-index: 20;
}

.btn2:before, .btn2:after {
content: '';
position: absolute;	
transition: inherit;
z-index: -1;
border-radius: 19px;
}

.btn2:hover {
color: white;
transition-delay: .1s;
}

.btn2:hover:before {
transition-delay: 0s;
}

.btn2:hover:after {
  background:linear-gradient(to right, #98c89a4f 1%,
#0d3512 100%, #ffffff 3%);
transition-delay: .5s;
}

/* From Left */

.from-left2:before, 
.from-left2:after {
top: 0;
width: 0;
height: 100%;
}

.from-left2:before {
right: 0;
border: 2px solid white;
border-left: 0;
border-right: 0;
}

.from-left2:after {
left: 0;
}

.from-left2:hover:before,
.from-left2:hover:after {
width: 100%;
}

/* Media Queries */



@media screen and (max-width: 744px) {
.portfolioTitle h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  margin-top: 15px;
}

.portfolioBlock {
  display: flex;
  flex-wrap: wrap;
  margin-right: 50px;
  justify-content: space-between;
}


.portfolioImage {
  width: 250px; /* make image fill the entire width of the .portfolioProjects div */
  height: 250px;
  border: solid black 2px;
  border-radius: 20px;
}

.portfolioBody {
  display: none;

}

.portfolioBody {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  padding: 12px 10px;
  text-align: center;
  border-radius: 9px;
  display: none;
}

.portfolioBody:hover {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  height: 120px;
  width: 220px;
  margin-top: .2em;
  margin-bottom: .59em;
  margin-right: 0px;
  margin-left: 1.2em;
  padding: .5em .1em;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  text-shadow: black 2px 2px 8px;
  border-radius: 9px;
}

.portfolioImage:hover + .portfolioBody {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  height: 220px;
  width: 220px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 12px 10px;
  background-color: rgba(58, 58, 58, 0.564);
  color: white;
  text-shadow: black 2px 2px 8px;
  border-radius: 9px;

}

.btn2 {		
position: absolute;	
padding: 15px 8px;
padding-right: 4px;
font-size: 1.4rem;
border-radius: 18px;
color: white;
letter-spacing: .5rem;
text-transform: uppercase;
transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
cursor: pointer;
user-select: none;
  width: 9em;
  border: 1px solid white;
  border-right: 0px;
  margin: 12px 2px;
  z-index: 20;
}

.btn2:before, .btn2:after {
content: '';
position: absolute;	
transition: inherit;
z-index: -1;
border-radius: 19px;
}

.btn2:hover {
color: white;
transition-delay: .1s;
}

.btn2:hover:before {
transition-delay: 0s;
}

.btn2:hover:after {
  background:linear-gradient(to right, #98c89a4f 1%,
#0d3512 100%, #ffffff 3%);
transition-delay: .5s;
}

/* From Left */

.from-left2:before, 
.from-left2:after {
top: 0;
width: 0;
height: 100%;
}

.from-left2:before {
right: 0;
border: 2px solid white;
border-left: 0;
border-right: 0;
}

.from-left2:after {
left: 0;
}

.from-left2:hover:before,
.from-left2:hover:after {
width: 100%;
}
}


.portfolioProjects {
  width: 125%;
  margin-bottom: 20px;
  position: relative;
}


.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
  padding: 20px 20px;
}

.featuredTitle {
  display: flex;
  font-size: 50px;
  color: white;
}

.primaryImageBox {
  display: flex;
  width: 800px;
  height: 600px;
  margin: 20px;
}

.primaryImage {
  display: flex;
  width: 900px;
  height: 600px;
  border: 2px solid darkgreen;
}



.secondaryCarousel {
  display: flex; 
  flex-wrap: wrap;
  width: 800px;
  background-color: rgba(0, 0, 0, 0);
}

.secondaryImages {
  display: flex;
  width: 150px;
  height: 150px;
  border: 2px solid darkgreen;
  margin: 10px 5px;
}

#projectLeftArrow {
  position: relative;
  color: white;
  font-size: 45px;
  top: 50%;
  left: -675px;
  transition: all .2s ease-in-out; 
}

#projectLeftArrow:hover {
  position: relative;
  color: white;
  top: 50%;
  left: -675px;
  transform:scale(1.5);
}

#projectRightArrow {
  position: relative;
  color: white;
  font-size: 45px;
  top: 50%;
  left: -120px;
  transition: all .2s ease-in-out; 

}

#projectRightArrow:hover {
  position: relative;
  color: white;
  top: 50%;
  left: -120px;
  transform:scale(1.5);
}
.smallImages {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .imageSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px;
  }
  
  .featuredTitle {
      display: flex;
      font-size: 50px;
      color: white;
  }
  
  .primaryImage {
      display: flex;
      width: 100%;
      height: 200px;
      border: 2px solid darkgreen;
  }
  
  .primaryImageBox {
      display: flex;
      width: 280px;
      height: 200px;
      border: 2px solid darkgreen;
  }
  
  .secondaryCarousel {
      display: flex; 
      flex-wrap: wrap;
      width: 470px;
      background-color: rgba(0, 0, 0, 0);
  }
  
  .secondaryImages {
      display: flex;
      width: 110px;
      height: 110px;
      border: 2px solid darkgreen;
      margin: 10px 5px;
  }
  
  #projectLeftArrow {
      position: relative;
      color: white;
      font-size: 45px;
      top: 50%;
      left: -265px;
      transition: all .2s ease-in-out; 
  }
  
  #projectLeftArrow:hover {
      position: relative;
      color: white;
      top: 50%;
      left: -265px;
      transform:scale(1.5);
  }
  
  #projectRightArrow {
      position: relative;
      color: white;
      font-size: 45px;
      top: 50%;
      left: -110px;
      transition: all .2s ease-in-out; 
  
  }
  
  #projectRightArrow:hover {
      position: relative;
      color: white;
      top: 50%;
      left: -110px;
      transform:scale(1.5);
  }
  .smallImages {
      display: flex;
      flex-wrap: wrap;
      background-color: red;
      flex-direction: column;
      justify-content: center;
  }
}
.modal-image-container {
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  cursor: pointer;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
  padding: 20px 20px;
}

.featuredTitle {
  display: flex;
  font-size: 50px;
  color: white;
}

.primaryImageBox {
  display: flex;
  width: 800px;
  height: 600px;
  margin: 20px;
}

.primaryImage {
  display: flex;
  width: 900px;
  height: 600px;
  border: 2px solid darkgreen;
}



.secondaryCarousel {
  display: flex; 
  flex-wrap: wrap;
  width: 800px;
  background-color: rgba(0, 0, 0, 0);
}

.secondaryImages {
  display: flex;
  width: 150px;
  height: 150px;
  border: 2px solid darkgreen;
  margin: 10px 5px;
}

#projectLeftArrow {
  position: relative;
  color: white;
  font-size: 45px;
  top: 50%;
  left: -675px;
  transition: all .2s ease-in-out; 
}

#projectLeftArrow:hover {
  position: relative;
  color: white;
  top: 50%;
  left: -675px;
  transform:scale(1.5);
}

#projectRightArrow {
  position: relative;
  color: white;
  font-size: 45px;
  top: 50%;
  left: -120px;
  transition: all .2s ease-in-out; 

}

#projectRightArrow:hover {
  position: relative;
  color: white;
  top: 50%;
  left: -120px;
  transform:scale(1.5);
}
.smallImages {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 800px){
  .imageSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 20px;
  }
  
  .featuredTitle {
      display: flex;
      font-size: 50px;
      color: white;
  }
  
  .primaryImage {
      display: flex;
      width: 100%;
      height: 200px;
      border: 2px solid darkgreen;
  }
  
  .primaryImageBox {
      display: flex;
      width: 280px;
      height: 200px;
      border: 2px solid darkgreen;
  }
  
  .secondaryCarousel {
      display: flex; 
      flex-wrap: wrap;
      width: 470px;
      background-color: rgba(0, 0, 0, 0);
  }
  
  .secondaryImages {
      display: flex;
      width: 110px;
      height: 110px;
      border: 2px solid darkgreen;
      margin: 10px 5px;
  }
  
  #projectLeftArrow {
      position: relative;
      color: white;
      font-size: 45px;
      top: 50%;
      left: -265px;
      transition: all .2s ease-in-out; 
  }
  
  #projectLeftArrow:hover {
      position: relative;
      color: white;
      top: 50%;
      left: -265px;
      transform:scale(1.5);
  }
  
  #projectRightArrow {
      position: relative;
      color: white;
      font-size: 45px;
      top: 50%;
      left: -110px;
      transition: all .2s ease-in-out; 
  
  }
  
  #projectRightArrow:hover {
      position: relative;
      color: white;
      top: 50%;
      left: -110px;
      transform:scale(1.5);
  }
  .smallImages {
      display: flex;
      flex-wrap: wrap;
      background-color: red;
      flex-direction: column;
      justify-content: center;
  }
}
.modal-image-container {
  position: relative;
}

.modal-image {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  cursor: pointer;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



