.aboutUsContainer {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.aboutUsContainer h1 {
    font-size: 4.2rem;
    display: flex;
    justify-content: center;
}


.aboutUs {
    display: flex;
    color: black;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 20px;
    font-size: 4.2vw;

    @media screen and (max-width: 800px) {
        flex-direction: row;
        font-weight: 700;
        font-size: 4.2vw;

    }
}


.aboutUsInfo {
    color: black;
    font-size: 1.2rem;
    margin: 5rem 5rem;

    @media screen and (max-width: 800px) {
        flex-direction: row;
        margin: 5rem 5rem;
    }

    h3 {
        color: black;
        font-size: 2.3rem;
        font-weight: 700;

        @media screen and (max-width: 800px) {
            flex-direction: row;
            font-size: 1.6rem;

        }
    }
}


.imageAndDescription {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 1rem;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        margin: .5rem;
    }
}

.description {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem 2rem;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        margin: .5rem;
        padding-bottom: 4rem;
    }
}

.aboutUsTitle {
    color: black;
    font-size: 1.5vw;
    font-weight: 700;

    @media screen and (max-width: 800px) {
        font-size: 1.6rem;
    }
}

.aboutUsText {
    color: black;
    padding: 10px 10px;
    padding-bottom: 1rem;
    @media screen and (max-width: 800px) {
        font-size: 1.1rem;
        padding-bottom: 4rem;
    }
}


.aboutUsInfo p{
    padding-bottom: 4rem;
    @media screen and (max-width: 800px) {
        padding-bottom: 2.5rem;
    }
}

.aboutUsInfo h3{
    padding-bottom: 4rem;
    @media screen and (max-width: 800px) {
        padding-bottom: 1.9rem;
    }
}

.crewImage {
    display: flex;
    justify-self: center;
    width: 55vw;
    height: 40vw;
    box-shadow: 3px 4px 10px black;
    color: black;

    @media screen and (max-width: 800px) {
        width: 85vw;
        height: 75vw;
        margin-bottom: 50px;
    }
}


.readMore {
    color: red;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  

  // Meet the team
// MeetTheTeam.module.scss

.teamSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    max-width: 89%;
    margin: auto;
    margin-top: 10%;
  }
  
  .profileCard {
    flex-basis: calc(31.333% - 1rem); // subtract the gap from the width
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 0px 2px;
    .profileImage {
      position: relative; // Position relative is necessary for Next.js Image with layout='fill'
      width: 100%; // Image width should match the card
      height: 950px; // Define a height for the image
    }
  
    .profileExcerpt {
      padding: 1rem;
    }
  }
  