.articlesByAuthor {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 500px;
  
    h3 {
      color: #333;
      margin-bottom: 15px;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: 10px;
  
        a {
          color: #007bff;
          font-size: .6em; // Adjust font-size as needed for mobile
          cursor: pointer;  
          text-decoration: none;
          transition: color 0.3s ease-in-out;
  
          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  
    @media (max-width: 768px) {
      width: 100%; // Full width on smaller screens
      padding: 10px; // Adjust padding for smaller screens
      margin-top: 10px; // Adjust margin-top for smaller screens
      box-shadow: none; // Optional: Remove box-shadow on smaller screens for flat design
    }
  }
  