.contactInfo {
    display: flex;
    z-index: 100;
    color: white;
    font-style: 3.4vw;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
}

@media (min-width: 868px) {
    .contactInfo {
        display: none;
    }
}


.emailPhoneHover {
    display: flex;
    font-size: 3.2vw;
    flex-direction: row;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
}